body {
    background-color: wheat;
    margin: 0;
    padding: 0;
}


/* default */

h2 {
    color:black;
    text-align: left;
    margin-left: 185px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

p { 
    text-align: left;
    margin-left: 185px;
    margin-right: 185px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*special case */

#main_header {
    color:white;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    /*margin-top: -25px; 
    position: sticky;
    top: 0; */
}

div.header_logo {
    background-color: black;
    height: auto;
    max-width: auto;
    margin-top: -30px;
    padding: 6px;
    text-align: left;
    padding-left: 75px;
    
}

.header_logo_img_icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    transform: translateY(7px);
}

.parent-container {
    text-align: center;
}


img.img_top_margin {
    transform: translateY(-20px); /* Negative value moves it up */
}

img.img_bot_margin {
    margin-top: 40px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    text-align: left;
    margin-left: 185px;
    margin-right: 185px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

p.paragraph_style_1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: black;
}

p.border_style_1 {
    border-style: solid;
    border-color: black;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;  
    width: fit-content;
}

a.a_style_1 {
    text-align: left;
    margin-left: 185px;
    margin-right: 185px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 40px;
    /*border: none; */
    display: inline-block; 
    font-size: 16px;
    margin: 12px 2px;
    cursor: pointer;
}

.setting_box {
    background-color: white;
    margin-left: 185px;
    margin-right: 185px;
    padding: 40px 50px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.img_setting_box {
    width: 85%;
    max-width: 1500px;
    height: 80%;

    display: block;
    margin: 30px auto;

    border: 2px solid #333;
    border-radius: 10px;    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.setting_box_source {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: center;
}

.setting_box_para {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin: 0 auto;
    margin-top: 50px;
}

